<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.userMapper">

    
    <select id="selectAll" resultType="userDTO">
        SELECT *
        FROM users       
    </select>
    
       <select id="selectOne" resultType="userDTO" parameterType="String">
        SELECT *
        FROM users
        where id = #{id}    
    </select>
	
	 <select id="delete" resultType="userDTO" parameterType="String">
        delete
        FROM users 
        where id = #{id}      
    </select>
</mapper>